<div class="row">
   <div class="span6 login" style='position: static!important;'>
      <h2>Servicios</h2>

       <%= simple_form_for @service, html: {multipart: true}, defaults: { input_html: { class: 'input-block-level' } } do |f| %>
         <%= f.hidden_field :symbol, value: 'icon-check' %>
         <%= f.input  :title, label: 'Titulo' %>
         <%= f.input  :header, label: 'Introduccion' %>
         <%= f.input  :body, label: 'Contenido', as: :text, input_html: { class: 'wysihtml5 input-block-level' } %>
         <%= f.button :submit, 'Agregar servicio', class: "btn btn-info" %>
      <% end %>
   </div>
   <div class="span5" style='position: static!important;'>
      <h3>Lista de Servicios</h3><br>
      <% @services.each do |service| %>
          <%= simple_form_for service do |f| %>
            <%= f.input  :title, label: 'Titulo', class: 'input-block-level' %>
            <%= f.input  :header, label: 'Introduccion', class: 'input-block-level' %>
            <%= f.input  :body, label: 'Contenido', as: :text, input_html: { class: 'wysihtml5 input-block-level' } %>
            <div class="btn-group">
               <%= f.button :submit, 'Guardar cambios', class: "btn btn-info" %> <%= link_to "Borrar", service, method: :delete, class: "borrar" %>
               <%= link_to "Borrar", service, method: :delete, class: "btn btn-danger", confirm: "¿Esta seguro?" %>
            </div>
         <% end %>
         <hr>
      <% end %>
   </div>
</div>