<div class="container" style="margin: 100px auto;">
  <div class="row">
    <div class="span12">
		<h1>Admin Site</h1>

		<section>
			<h1>Portada</h1>
			<ul>
			<% @sliders.each do |slider| %>
				<li>
					<%= slider.title %> | <%= link_to "borrar", slider, method: :delete %>
			    	<%= image_tag(slider.photo_url(:slider)) if slider.photo? %> 
				</li>
			<% end %>
			</ul>
			<% if @sliders.size <= 2 %>
			    <%= simple_form_for @slider, html: {multipart: true} do |f| %>
			      <%= f.input  :title %>
			      <%= f.input  :header %>
			  	  <%= f.input  :photo %>
			      <%= f.button :submit, 'Agregar noticia' %>
			  	<% end %>
		  	<% end %>
		</section>

		<section>
			<h1>Servicios</h1>
			<ul>
			<% @services.each do |service| %>
				<li>
					<%= service.title %> | <%= link_to "borrar", service, method: :delete %> 
				</li>
			<% end %>
			</ul>
		    <%= simple_form_for @service do |f| %>
		  	  <%= f.input  :symbol %>
		      <%= f.input  :title %>
		      <%= f.input  :header %>
		      <%= f.input  :body %>
		      <%= f.button :submit, 'Agregar servicio' %>
		  	<% end %>
		</section>

		<section>
			<h1>Nosotros</h1>
			<p>Integrantes</p>
			<ul>
			<% @users.each do |user| %>
				<li>
					<%= user.name %> | <%= link_to "borrar", user, method: :delete %>
			    	<%= image_tag(user.photo_url(:avatar)) if user.photo? %> 
				</li>
			<% end %>
			</ul>
		    <%= simple_form_for @user, html: {multipart: true} do |f| %>
		  	  <%= f.input  :name %>
		      <%= f.input  :job %>
		      <%= f.input  :twitter %>
		      <%= f.input  :facebook %>
		  	  <%= f.input  :photo %>
		      <%= f.button :submit, 'Agregar nuevo integrante' %>
		  	<% end %>
		</section>

		<section>
			<h1>Links</h1>
			<ul>
			<% @links.each do |link| %>
				<li>
					<%= link.name %> | <%= link_to "borrar", link, method: :delete %>
			    	<%= image_tag(link.photo_url(:link)) if link.photo? %> 
				</li>
			<% end %>
			</ul>
		    <%= simple_form_for @link, html: {multipart: true} do |f| %>
		  	  <%= f.input  :name %>
		      <%= f.input  :url %>
		  	  <%= f.input  :photo %>
		      <%= f.button :submit, 'Crear nuevo link' %>
		  	<% end %>
		</section>
    </div>
  </div>
</div>
