<h1>Admin Site</h1>

<h1>Links</h1>
<ul>
<% @links.each do |link| %>
	<li>
		<%= link.name %> | <%= link_to "borrar", link, method: :delete %> 
	</li>
<% end %>
</ul>
<a href="#newLink" role="button" class="btn" data-toggle="modal">Nuevo Link</a>
 
<!-- Modal -->
<div id="newLink" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">Nuevo Link</h3>
  </div>
  <div class="modal-body">
    <%= simple_form_for @link do |f| %>
	  <%= f.input  :name %>
	  <%= f.input  :url %>
  </div>
    <div class="modal-footer">
  	  <%= f.button :submit %>
    </div>
	<% end %>
</div>