<div class="container" style="margin: 100px auto;">
  <div class="row">
    <div class="span12">
		<h1>Admin Site</h1>

		<section>
			<h1>Portada</h1>
			<ul>
			<% @sliders.each do |slider| %>
				<li>
					<%= slider.title %> | <%= link_to "borrar", slider, method: :delete %>
			    	<%= image_tag(slider.photo_url(:slider)) if slider.photo? %> 
				</li>
			<% end %>
			</ul>
			<% if @sliders.size <= 2 %>
			    <%= simple_form_for @slider, html: {multipart: true} do |f| %>
			      <%= f.input  :title %>
			      <%= f.input  :header %>
			  	  <%= f.input  :photo %>
			      <%= f.button :submit, 'Agregar noticia' %>
			  	<% end %>
		  	<% end %>
		</section>

		<section>
			<h1>Informacion del Sitio</h1>
	    	<br>
		    <%= simple_form_for Content.last || @new_content, html: {multipart: true} do |f| %>
		      <%= f.input  :person_message, as: :text %>
		      <%= image_tag(@content.photo_url(:avatar), class: "circle-glob") if @content.photo? %>
		  	  <%= f.input  :photo %>
		      <%= f.input  :person_info %>
		      <%= f.input  :about_us, as: :text %>
		      <%= f.input  :us_message, as: :text %>
		      <%= f.input  :direction %>
		      <%= f.input  :telephone %>
		      <%= f.input  :email %>
		      <%= f.input  :facebook %>
		      <%= f.input  :twitter %>
		      <%= f.input  :linkedin %>
		      <%= f.button :submit, 'Guardar Informacion' %>
		  	<% end %>
		</section>

		<section>
			<h1>Servicios</h1>
			<% @services.each do |service| %>
			    <%= simple_form_for service do |f| %>
			      <%= f.input  :title %>
			      <%= f.input  :header %>
			      <%= f.input  :body, as: :text, input_html: { class: 'wysihtml5' } %>
			      <%= f.button :submit, 'Guardar cambios' %> | <%= link_to "Borrar", service, method: :delete %>
				<% end %>
				<hr>
		  	<% end %>
		    <%= simple_form_for @service do |f| %>
		  	  <%= f.hidden_field :symbol, value: 'icon-check' %>
		      <%= f.input  :title %>
		      <%= f.input  :header %>
		      <%= f.input  :body, as: :text, input_html: { class: 'wysihtml5' } %>
		      <%= f.button :submit, 'Agregar servicio' %>
			<% end %>
		</section>

		<section>
			<h1>Nosotros</h1>
			<p>Integrantes</p>
			<% @users.each do |user| %>
			    <%= simple_form_for user, html: {multipart: true} do |f| %>
			  	  <%= f.input  :name %>
			      <%= f.input  :job %>
			      <%= f.input  :twitter %>
			      <%= f.input  :facebook %>
			      <%= image_tag(user.photo_url(:avatar)) if user.photo? %> 
			  	  <%= f.input  :photo %>
			      <%= f.button :submit, 'Guardar cambios' %> | <%= link_to "Borrar",
			      	user, method: :delete %>
			  	<hr>
			  	<% end %>
			<% end %>
		    <%= simple_form_for @user, html: {multipart: true} do |f| %>
		  	  <%= f.input  :name %>
		      <%= f.input  :job %>
		      <%= f.input  :twitter %>
		      <%= f.input  :facebook %> 
		  	  <%= f.input  :photo %>
		      <%= f.button :submit, 'Agregar nuevo integrante' %>
		  	<hr>
		  	<% end %>
		</section>

		<section>
			<h1>Links</h1>
			<% @links.each do |link| %>
			    <%= simple_form_for link, html: {multipart: true} do |f| %>
			  	  <%= f.input  :name %>
			      <%= f.input  :url %>
			      <%= image_tag(link.photo_url(:link)) if link.photo? %> 
			  	  <%= f.input  :photo %>
			      <%= f.button :submit, 'Guardar cambios' %> | <%= link_to "Borrar",
			      	link, method: :delete %>
			  	<% end %>
			  	<hr>
			<% end %>
		    <%= simple_form_for @link, html: {multipart: true} do |f| %>
		  	  <%= f.input  :name %>
		      <%= f.input  :url %> 
		  	  <%= f.input  :photo %>
		      <%= f.button :submit, 'Crear nuevo link' %>
		  	<% end %>
		</section>
    </div>
  </div>
</div>