  
    <!-- Carousel
    Change your images in the main.css file.
    ================================================== -->
    <div id="header" class="carousel slide animated fadeIn">
      <div class="top-info">
        <i class="icon-phone"></i> <%= @content.telephone %>  |  
        <a href="mailto:<%= @content.email %>">
          <i class="icon-envelope-alt"></i> <%= @content.email %>
        </a>
      </div>
      <div class="carousel-inner">
        <div class="item one active" style="background: url(<%= @slider.photo.url(:slider) %>)">
          <div class="container animated fadeInUp">
            <div class="carousel-caption">
              <h1><%= @slider.title %></h1>
              <p class="lead margin-40"><em><%= @slider.header %></em></p>
            </div>
          </div>
        </div>
      </div>
    </div><!-- /.carousel -->
    
    
    <!--Services-->
    <section id="services">
      <div class="container">
        <div class="row text-center">
          <% @services.each_with_index do |service, index| %>
            <div class="span4 service margin-30">
              <%= link_to services_path(anchor: "servicio-#{index}") do %>
                <i class="<%= service.symbol %> icon-4x gray"></i>
                <h3><%= service.title %></h3>
                <p><%= service.header %></p>
              <% end %>
            </div>
            <% if ((index+1) % 3) == 0 %>
              </div>
              <div class="row text-center">
            <% end %>
          <% end %>
        </div>
      </div>
    </section>
        
<!--Testimonial Section-->
    <section id="testimonial">
      <div class="container">
        <div class="row">
          <div class="span3 margin-30" style="position: relative; display:none;">
            <%= image_tag(@content.photo.url(:avatar), class: "circle-glob") if @content.photo? %>
            <span class="triangle-glob"></span>
          </div>
          
          <div class="span12">
            <h2>“<%= @content.person_message %>”</h2>
            <div class="testimonial-source pull-right" style="display:none;"><%= @content.person_info %></div>
          </div>
        </div>
      </div>
    </section>    
    <!--Content-->
    <section id="content1">
      <div class="container">
        <div class="row">
          <div class="span12">
            <p class="lead">Principios y valores</p>
            <p><%= @content.about_us.html_safe if @content.about_us %></p><br>
          </div>
        </div>

        <section style="display: none;">
          <div class="container">
            <div class="row text-center integrantes">
            <% @users.each do |user| %>
              <div class="clone span3 miembros">
                <div class="team-member">
                  <%= image_tag(user.photo.url(:avatar)) if user.photo? %>
                </div>
                    
                <div class="row-fluid text-center">
                  <div class="span8 pull-left team-info">
                    <h4><span class="white"> <%= user.name %> <small><em><%= user.job.html_safe %></em></small></span></h4>
                  </div>
                  
                  <div class="span4 pull-right socialize">
                    <ul class="unstyled inline">
                      <li><a class="twitter" href="<%= user.twitter %>" target="_blank"><i class="icon-twitter icon-large"></i></a></li>
                      <li><a class="facebook" href="<%= user.facebook %>" target="_blank"><i class="icon-facebook icon-large"></i></a></li>
                    </ul>
                  </div>
                </div>
              </div>
            <% end %>
            </div>
          </div>
        </section>
      
      </div>
    </section>
    
<!--Message Section-->
    <section id="message">
      <div class="container">
        <div class="row">
          <div class="span12 text-center">
            <h2><%= @content.us_message %></h2>
          </div>
        </div>
      </div>
    </section>

<!-- Links -->
    <section id="links">
      <div class="container text-center">
        <div class="row margin-40">
        <% @links.each do |link| %>
          <div class="span3 links-utiles">
            <div class="thumbs">
              <%= image_tag(link.photo.url(:link)) if link.photo? %>
              <a href="<%= link.url %>" target="_blank">
                <span class="title">
                  <span><i class="icon-link icon-2x"></i></span>
                </span> 
              </a>
            </div>

            <div class="project-title margin-30">
              <h4><%= link.name %></h4>
            </div>
          </div>
        <% end %>
        </div>
        
    </section>
