<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Nuevo contacto</h1>
    <p>Nombre: <%= @user.name %></p>
    <p>Email: <%= @user.email %></p>
    <p>Empresa: <%= @user.company %></p>
    <p>Telefono: <%= @user.telephone %></p>
    <p>Mensaje: <%= @user.content %></p>
  </body>
</html>