<!DOCTYPE html>
<html lang="en" style="" class=" js flexbox canvas canvastext webgl no-touch geolocation postmessage websqldatabase indexeddb hashchange history draganddrop websockets rgba hsla multiplebgs backgroundsize borderimage borderradius boxshadow textshadow opacity cssanimations csscolumns cssgradients cssreflections csstransforms no-csstransforms3d csstransitions fontface generatedcontent video audio localstorage sessionstorage webworkers applicationcache svg inlinesvg smil svgclippaths">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta charset="utf-8">
  <title>Estudio Contable | Diseño de ejemplo</title>
  <meta name="keywords" content="">
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width">
  
  <meta property="og:title" content="">
	<meta property="og:type" content="website">
	<meta property="og:url" content="">
	<meta property="og:site_name" content="">
	<meta property="og:description" content="">
  <%= stylesheet_link_tag "application", media: "all" %>
  <%= javascript_include_tag 'ga.js' %>
  <%= javascript_include_tag 'modernizr-2.6.2-respond-1.1.0.min.js' %>

  <%= csrf_meta_tags %>
  <!-- Fav and touch icons -->
  <link rel="apple-touch-icon-precomposed" sizes="144x144" href="http://themearmada.com/apple-touch-icon-144-precomposed.png">
  <link rel="apple-touch-icon-precomposed" sizes="114x114" href="http://themearmada.com/apple-touch-icon-114-precomposed.png">
  <link rel="apple-touch-icon-precomposed" sizes="72x72" href="http://themearmada.com/apple-touch-icon-72-precomposed.png">
  <link rel="apple-touch-icon-precomposed" href="http://themearmada.com/apple-touch-icon-57-precomposed.png">
  <link rel="shortcut icon" href="http://themearmada.com/favicon.png">
  </head>

  <body id="top" data-spy="scroll" data-target=".navbar">

    <div class="navbar navbar-inverse navbar-fixed-top">
      <% if current_page?(action: 'index')%>
        <%= render 'shared/home_nav' %>
      <% else %>
        <%= render 'shared/external_nav' %>
      <% end %>
    </div>

    <%= yield %>
    
  <!--Bottom Section-->
    <section id="bottom">
      <div id="map">
        <iframe frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com.ar/maps/ms?msa=0&amp;msid=203325491121637493362.0004e3e8b69f444ebd81b&amp;ie=UTF8&amp;t=m&amp;ll=-24.185438,-65.30267&amp;spn=0.006851,0.025749&amp;z=16&amp;output=embed"></iframe>
      </div>
      <div class="container" style="margin-top: 20px;">
        <div class="row margin-40">
          <div class="span10 offset1 text-center">
            <p><%= @content.direction %>, Jujuy, Argentina | <%= @content.telephone %>  |  <a href="mailto:<%= @content.email %>"><i class="icon-envelope-alt"></i> <%= @content.email %></a></p>
            <hr>
          </div>
        </div>
        
        <div class="row">
          <div class="span10 offset1 text-center">
            <!--Social Icons-->          
            <ul class="social-icons">
              <li><a class="twitter" href="<%= @content.twitter %>" target="_blank"><i class="icon-twitter icon-3x"></i></a></li>
              <li><a class="facebook" href="<%= @content.facebook %>" target="_blank"><i class="icon-facebook icon-3x"></i></a></li>
              <li><a class="linkedin" href="<%= @content.facebook %>" target="_blank"><i class="icon-linkedin icon-3x"></i></a></li>
            </ul>
          </div>
        </div>
        
      </div>
    </section>
    
    
    <section id="footer">
      <div class="container">
        <div class="row">
          <div class="span12 text-center">
            <p>Created by <a href="http://www.nibyru.com/">Nibyru.</a></p>
          </div>
        </div>
      </div>
    </section>

    <a href="#top" class="scrollToTop hidden-phone" style="display: none;"><i class="icon-chevron-up"></i></a>
    
    <!-- Javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <%= javascript_include_tag 'jquery.min.js' %>
    <script>window.jQuery || document.write('<script src="js/jquery-1.9.1.min.js"><\/script>')</script>
    <%= javascript_include_tag "application" %>
    <!--Twitter Handle - Insert your Twitter username below ex: (screen_name=USERNAME&include) -->
    <%= javascript_include_tag 'user_timeline.json' %>
    
    <script>
    $(document).ready(function(){
      $(function(){
        $('#header').carousel()
      });
      $(window).load(function() {
        $('.flexslider').flexslider({
          animation: "slide"
        });
      });
      $('.wysihtml5').each(function(i, elem) {
        $(elem).wysihtml5({
          "link": false,
          "image": false
        });
      });
    })
    </script>
    
  </body>
</html>