<!DOCTYPE html>
<html lang="en" style="" class=" js flexbox canvas canvastext webgl no-touch geolocation postmessage websqldatabase indexeddb hashchange history draganddrop websockets rgba hsla multiplebgs backgroundsize borderimage borderradius boxshadow textshadow opacity cssanimations csscolumns cssgradients cssreflections csstransforms no-csstransforms3d csstransitions fontface generatedcontent video audio localstorage sessionstorage webworkers applicationcache svg inlinesvg smil svgclippaths">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta charset="utf-8">
  <title>Estudio Contable | Servicios integrales de consultoría</title>
  <meta name="keywords" content="estudio contable jujuy consultoria contabilidad cyc c&amp;c societario auditoria tributario laboral">
  <meta name="description" content="C&amp;C Asociados es un grupo de profesionales que brinda servicios integrales de consultoría, ofreciendo soluciones concretas a las necesidades de los empresarios.">
  <meta name="viewport" content="width=device-width">
  
  <meta property="og:title" content="Estudio Contable | Servicios integrales de consultoría">
	<meta property="og:type" content="website">
	<meta property="og:url" content="http://www.cycestudiocontable.com.ar/">
	<meta property="og:site_name" content="C&amp;C estudio contable">
	<meta property="og:description" content="C&amp;C Asociados es un grupo de profesionales que brinda servicios integrales de consultoría, ofreciendo soluciones concretas a las necesidades de los empresarios.">
  <link rel="shortcut icon" href=<%= asset_path("icono.ico")%>>

  <%= stylesheet_link_tag "application", media: "all" %>
  <%= javascript_include_tag 'ga.js' %>
  <%= javascript_include_tag 'modernizr-2.6.2-respond-1.1.0.min.js' %>

  <%= csrf_meta_tags %>

  </head>

  <body id="top" data-spy="scroll" data-target=".navbar">
    <% if flash[:notice] %>
    <div class="alert alert-info fade in">
      <button type="button" class="close" data-dismiss="alert">×</button>
      <%= flash[:notice] %>
    </div>
    <% end %>
    <%= render 'shared/home_nav' %>

    <%= yield %>
    
    <%= render 'shared/bottom_section' %>
    <%= render 'shared/javascript_section' %>
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-46190217-2', 'cycestudiocontable.com.ar');
      ga('send', 'pageview');

    </script>
  </body>
</html>