<!DOCTYPE html>
<html lang="en" style="" class=" js flexbox canvas canvastext webgl no-touch geolocation postmessage websqldatabase indexeddb hashchange history draganddrop websockets rgba hsla multiplebgs backgroundsize borderimage borderradius boxshadow textshadow opacity cssanimations csscolumns cssgradients cssreflections csstransforms no-csstransforms3d csstransitions fontface generatedcontent video audio localstorage sessionstorage webworkers applicationcache svg inlinesvg smil svgclippaths">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta charset="utf-8">
  <title>Estudio Contable | Diseño de ejemplo</title>
  <meta name="keywords" content="estudio contable jujuy">
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width">
  
  <meta property="og:title" content="">
	<meta property="og:type" content="website">
	<meta property="og:url" content="">
	<meta property="og:site_name" content="">
	<meta property="og:description" content="">
  <link rel="shortcut icon" href=<%= asset_path("icono.ico")%>>

  <%= stylesheet_link_tag "application", media: "all" %>
  <%= javascript_include_tag 'ga.js' %>
  <%= javascript_include_tag 'modernizr-2.6.2-respond-1.1.0.min.js' %>

  <%= csrf_meta_tags %>

  </head>
  <body>
    <%= render 'shared/home_nav' %>
    <%= yield %>
  </body>
</html>